.hero
	.hero__heading.heading
		.heading__subtitle A Hiking guide
		h2.heading__title Be prepared for the Mountains and beyond!
		.heading__guide
			.heading__guide--text scroll down
			i.heading__guide--icon.fa-solid.fa-arrow-down
