.header
  .header__logo MNTD
  nav.header__nav
    ul.header__list
      li.header__item 
        a equipment
      li.header__item
        a about us
      li.header__item
        a blog
  .header__profile.profile 
    i.fa-regular.fa-circle-user.profile__icon
    span.profile__name Account
