.hero {
  padding: 8rem 6.4rem;
  color: white;
  position: relative;
  z-index: 0;
  background-image: url(../../images/HG.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  isolation: isolate;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .heading {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    z-index: 2;
    &__subtitle {
      color: $secondary-color;
      font-family: $secondary-fonts;
      font-weight: 400;
    }
    &__title {
      font-size: $header-font-size;
      line-height: 100px;
      font-weight: 375;
    }
    &__guide {
      font-family: $secondary-fonts;
      display: flex;
      gap: 5px;
      font-weight: 400;
    }
  }
}
