.step
  .step__content 
    .step__number 01
    .step__content-wrapper
      .step__subtitle get started
      .step__title What level of  hiker are you?
      p.step__main-content Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker? 
      .step__more
        .step__more--text read more
        .step__more--icon.fa-solid.fa-arrow-right-long
  img.step__image(src="../../images/01.png", alt="step image", srcset="")
